.nav-custom{
    background-color: #D0122F;

}

.breadcrum-custom{
    background-color: #e74d49;
}

.footer-custom{
    background-color: #e74d49;
}

body{
    background-color: #ebc99b;
}

.contact-form{
    width: 500px;

    background-color: #fcead0;
    border-radius: 10px;

    
}

.principal-contact{
    padding-top: 80px;
}

/**
C63939
**/
