
.nav-custom{
    background-color: #D0122F;
}

.breadcrum-custom{
    background-color: #e74d49;
}

.footer-custom{
    background-color: #e74d49;
    width: 100%;
    color: white;
    text-align: center;

    /*position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;*/

    padding: 10px;
}

.footer-contact{
    background-color: #e74d49;
    width: 100%;
    color: white;
    text-align: center;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 10px;
}

.contact-form{
    width: 500px;
    background-color: #fcead0;
    border-radius: 10px;
}

.bg-kongo{
    background-color: #fcead0;
}

#btn-goUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;

    z-index: 1;
    /*background-color: #ebc99b;*/
}

body{
    background-color: #ebc99b;
}

main{
    padding-bottom: 20px;
}

/**
C63939
**/
